$primaryColor: #27a8e4;
$buttonColor: #0682bb;
$buttonHoverColor: #42bbf3;
$linkHoverColor: #cee7f5;


.detail {
  text-align: center;
  margin: 5rem;
  padding: 1rem;

  ul {
    list-style-type: none;
  }

  li {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
  }

  p {
    display: inline-block;
    text-align: right;
    margin: 10px;
  }
  label {
    display: inline-block;
    font-weight: bold;
    text-align: left;
  }
}
